/* ANIMACOES */
/*Animações da page-landing*/
@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Animação da Barra, saindo da esquerda para direita - page-orphanages*/
@keyframes right {
  from {
    transform: translateX(-100%);     
  }
  to {
    transform: translateX(0);
  }
}

/*Animação de aparição do mapa*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-up {
  animation-name: up;
  animation-duration: 300ms;
  animation-fill-mode: backwards; /*Para a animação e as propriedades ficam no elemento aplicado*/
}

.animate-right {
  animation-name: right;
  animation-duration: 300ms;
}

.animate-appear {
  animation-name: appear;
  animation-duration: 300ms;
}