form {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e5;

    border-radius: 2rem;
    overflow: hidden;   
    padding: 8rem;
}

fieldset {
    border: 0;
}

fieldset + fieldset { /*Pega o fieldset que for irmão de algum outro, no nosso caso o 'Visitante'*/
    margin-top: 8rem;
}

fieldset legend {
    width: 100%;

    font-size: 3.2rem;
    line-height: 1.5;

    color: #5c8599;
    font-weight: 700;

    border-bottom: 1px solid #d3e2e5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
}

.input-block + .input-block { /*Esses elementos recerão margin-top por ter campos irmãos antes*/
    margin-top: 2.4rem;
}

.input-block label {
    color: #8FA3B3;
    margin-bottom: .8rem;
    line-height: 1.5;
}

.input-block label span {
    font-size: 1.4rem;
    color: #8FA3B3;
    margin-left: 2.4rem;
    line-height: 1.5;
}

.input-block input, 
.input-block textarea {
    width: 100%; /*Isso já quebra a linha e ocupa 100% da linha */

    background: #f5f8fa;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;

    color: #5c8599;
    outline: none;
}

.input-block input:focus, 
.input-block textarea:focus {
    border: 2px solid #15c3d6;
}

.input-block input {
    height: 6.4rem;
    padding: 0 1.6rem;
}

.input-block textarea {
    height: clamp(12rem, 16rem, 24rem); /*Min: 12rem, ideal: 16rem, Máx: 24rem*/
    resize: vertical; /*Habilita o ajuste apenas verticalmente*/
    padding: 1.6rem;
    line-height: 2.8rem;
}

.input-block.images button {
    border: 1px dashed #96d2f0;
    width: 100%;
    background: #f5f8fa;
    height: 6.4rem;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    border-radius: 2rem;

    cursor: pointer;
}

.new-upload {
    position: relative; /*Deixar o span em absolute apenas dentro da caixa, coloca a caixa pai como relative*/
}

.new-upload span {
    position: absolute;
    right: 12px;
    bottom: 14px;

    background: #FFFFFF;
    display: flex; /*Par alinhar*/
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: .6rem;
    cursor: pointer;
}
